env:
  browser: true
  es6: true
  node: true

extends:
  - eslint:recommended

globals:
  unsafeWindow: false

rules:
  eqeqeq: 2
  indent: [2, 2]
  no-unused-vars: [2, {vars: all, args: none}]
  quotes: [2, double, {avoidEscape: true}]
