env:
  browser: true
  es6: true
  node: true

extends:
  - eslint:recommended
  - plugin:react/recommended

globals:
  unsafeWindow: false

parserOptions:
  ecmaFeatures:
    jsx: true

plugins:
  - react

root: true

rules:

  eqeqeq: 2
  indent: [2, 2]
  no-unused-vars: [2, {vars: all, args: none}]
  no-var: 1
  prefer-const: 2
  quotes: [2, single, {avoidEscape: true, allowTemplateLiterals: true}]
  space-before-blocks: 2
  keyword-spacing: 2
  no-extra-boolean-cast: 0
  react/prop-types: 0