.minvid__overlay__container {
    align-items: center;
    background-color: rgba(0,0,0,0);
    border-radius: 0 0 4px 4px;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 4%;
    max-height: 36px;
    max-width: 36px;
    padding: 2px 2px 4px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.minvid__overlay__container:hover {
    background: rgba(0,0,0,0.9);
}

.minvid__overlay__icon {
    background: url('img/overlay-player-icon.svg') no-repeat;
    background-position: center bottom;
    background-size: 32px auto;
    cursor: pointer;
    height: 100%;
    opacity: 0;
    width: 100%;
}

.minvid__overlay__wrapper:hover .minvid__overlay__container {
    background-color: rgba(0, 0, 0, .8);
}

.minvid__overlay__wrapper:hover .minvid__overlay__icon {
    opacity: .8;
}

.minvid__overlay__container:hover .minvid__overlay__icon {
    opacity: 1;
}




