/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the 'License'). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

html, body, iframe {
    border: none;
    margin: 0;
    padding: 0;
}

html, body {
    background: rgba(249, 249, 249, 0.77);
    text-align: center;
}

.video-wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

.controls {
    background: rgba(56, 56, 56, 0.82);
    font-size: 25px;
    padding-bottom: 5px;
}

.controls a {
    color: #71ffaa;
    padding: 5px 10px;
    text-decoration: none;
}

.controls a:hover {
    color: #ff9c3b;
}
