/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the 'License'). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */

html,
body,
video {
    border: none;
    margin: 0;
    padding: 0;
}

html,
body,
video,
.player-wrap,
.app,
.loading,
#container {
    height: 100%;
    width: 100%;
}

html,
body {
    background: rgba(249, 249, 249, 0.77);
    text-align: center;
}

.app {
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.loading {
    background-repeat: no-repeat;
    background-size: cover;
    background: url('img/testcard.jpeg');
}

.loading p {
    color: white;
    font-size: 19px;
    margin-top: 0;
    padding: 21px;
}

.error {
    background-repeat: no-repeat;
    background-size: cover;
    background: url('img/static.gif');
}

.video-wrapper {
    background: #000;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.controls {
    background: linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .33) 70%, transparent 100%);
    box-sizing: border-box;
    display: flex;
    height: 40px;
    justify-content: space-between;
    position: absolute;
    transition: opacity 250ms;
    width: 100%;
}

.controls a {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 40px;
    opacity: .7;
    text-decoration: none;
    width: 40px;
}

.controls a:hover {
    opacity: 1;
}

.controls.minimized {
    background: #000 !important;
    display: block !important;
    opacity: .9;
}

.controls.minimized a {
    margin-top: 10px;
}

.left,
.right {
    display: flex;
}

.play {
    background: url('img/play.svg');
}

.pause {
    background: url('img/pause.svg');
}

.mute {
    background: url('img/unmute.svg');
}

.unmute {
    background: url('img/mute.svg');
}

.tab {
    background: url('img/to-tab.svg');
}

.minimize {
    background: url('img/minimize.svg');
}

.maximize {
    background: url('img/maximize.svg');
}

.close {
    background: url('img/close.svg');
}

.volume {
    border-radius: 5px;
    cursor: pointer;
    margin-left: -3px;
    margin-top: 11px;
    width: 75px;
}

.volume::-moz-range-track {
    background: #eeeeeecc;
    border-radius: 5px;
    border: none;
    height: 6px;
    width: 75px;
}

.volume::-moz-range-progress {
    background: #4789d7;
    border-radius: 5px;
    height: 6px;
}

.volume::-moz-range-thumb {
    background: white;
    border-radius: 50%;
    border: none;
    height: 16px;
    width: 16px;
}

/*hide the outline behind the border*/
.volume:-moz-focusring {
    outline: none;
}

input[type=range]::-moz-focus-outer {
    border: 0;       
}

.progress {
    background: linear-gradient(to top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .33) 70%, transparent 100%);
    bottom: 0;
    box-sizing: border-box;
    flex-direction: column;
    height: 50px;
    padding-top: 6px;  
    position: absolute;
}

.progress span {
    color: white;
    opacity: .7;
}

.progress span:hover {
    opacity: 1;
}

.video-progress {
    background: #ffffffaa;
    border-radius: 20px;
    border: none;
    height: 10px;
    margin-top: 6px;
    width: 290px;
}

.video-progress[value]::-moz-progress-bar {
    appearance: none;
    background: #4789d7;
    border-radius: 20px;
    border: none;
}

.time {
    color: white;
    float: right;
    padding-right: 15px;
}

.domain {
    color: white;
    float: left;
    padding-left: 15px;
}

.controls:hover .volume {
    display: inline-block;
}
